<div class="container">
    <div class="row pt-5 justify-content-center">
      <div class="col-8">
        <div class="card card-default">
          <div class="card-header"><h5></h5>فراموشی رمز عبور</h5></div>
          <div class="card-body">
            <form action="/auth/password/email" method="POST" class="form-horizontal" novalidate>
              <%- include(viewPath('layouts/error-message')) -%>
  
              <div class="form-group">
                <label for="email" class="control-label">ایمیل</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  name="email"
                  placeholder="ایمیل خود را وارد کنید"
                  required
                  value="<%= old('email') %>"
                />
              </div>
  
              <div class="form-group"><%- recaptcha %></div>
  
              <div class="form-group">
                <button for="submit" class="btn btn-primary">بازیابی رمز عبور</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  